<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="create-blog">
    <form action="" method="POST">
      <h2><%=title%></h2>
      <label for="user">User:</label>
      <input type="text" name="user" id="user" placeholder="User name here" required>
      <label for="mtext">Text:</label>
      <input type="text" name="mtext" id="mtext" placeholder="Text message here" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>